        check process mariadb
           with pidfile "/var/run/mariadb/mariadb.pid"
           start program = "/sbin/service mariadb start" with timeout 60 seconds
           stop program = "/sbin/service mariadb stop"
           #if 10 restarts within 10 cycles then timeout
           group kaltura
           depends on my.cnf, mysqld

        check file my.cnf
            with path "/etc/my.cnf"
            # Reload mysql if the my.cnf file was changed
            if changed checksum
               then exec "/sbin/service mariadb reload"

        check file mysqld
            with path "/usr/bin/mysqld_safe"
