check process nginx
    with pidfile "/var/run/nginx.pid"
    start program = "/sbin/service kaltura-nginx start" with timeout 60 seconds
    stop program = "/sbin/service kaltura-nginx stop"

    if failed host localhost port @VOD_PACKAGER_PORT@ protocol http then restart

    group kaltura
    depends on nginxbin, nginx.conf

check file nginx.conf
    with path "/etc/nginx/nginx.conf"
    # Reload Nginx if the kaltura.conf file was changed
    if changed checksum
        then exec "/sbin/service kaltura-nginx restart"
    if does not exist then alert
   
check file nginxbin
    with path "/usr/sbin/nginx"
    if does not exist then alert
