        check process sphinx 
           with pidfile "@BASE_DIR@/sphinx/searchd.pid"
           start program = "/etc/init.d/kaltura_sphinx start" with timeout 60 seconds
           stop program = "/etc/init.d/kaltura_sphinx stop"
           #if 10 restarts within 10 cycles then timeout
           #if failed port 9312 protocol telnet then restart
           group kaltura
           depends on kaltura.conf, searchd

        check file kaltura.conf
            with path @APP_DIR@/configurations/sphinx/kaltura.conf
            # Reload Sphinx if the kaltura.conf file was changed
            if changed checksum
               then exec "/etc/init.d/kaltura_sphinx restart"

        check file searchd
            with path @BIN_DIR@/sphinx/searchd
            
        check process sphinx_populate 
           with pidfile "@LOG_DIR@/populate.pid"
           start program = "/etc/init.d/kaltura_populate start" with timeout 60 seconds
           stop program = "/etc/init.d/kaltura_populate stop"
           #if 10 restarts within 10 cycles then timeout
           group kaltura
           depends on sphinx_populate.conf, sphinx_populate_script

        check file sphinx_populate.conf
            with path @APP_DIR@/plugins/sphinx_search/scripts/configs/server-sphinx.php
            # Reload populate if the server-sphinx.php file was changed
            if changed checksum
               then exec "/etc/init.d/kaltura_populate restart"

        check file sphinx_populate_script
            with path @APP_DIR@/plugins/sphinx_search/scripts/populateFromLog.php
            