check process wowza with pidfile /var/run/WowzaStreamingEngine.pid
    start program = "/sbin/service WowzaStreamingEngine start" with timeout 60 seconds
    stop program = "/sbin/service WowzaStreamingEngine stop" 
    
    if failed port 1935 protocol http then restart
        
    depends on wowza.conf, wowzabin

check file wowza.conf
    with path "/usr/local/WowzaStreamingEngine/conf/Server.xml"
    # Restart Wowza if the Server.xml file was changed
    if changed checksum
        then exec "/bin/sh -c'/sbin/service WowzaStreamingEngine stop;sleep 5;/sbin/service WowzaStreamingEngine start'"

check file wowzabin
    with path "/usr/bin/WowzaStreamingEngined"
