<?xml version="1.0"?>
<TestsDataSource>
	<TestCaseData testCaseName="KMCTest">
		<TestProcedureData testProcedureName="testKMCAction">
			<Input type='string' key='@TEST_PARTNER_KMC_UI_CONF@'/>
			<Input type='string' key='@TEST_PARTNER_DASHBOARD_UI_CONF@'/>
			<Input type='string' key='@TEST_PARTNER_PERMISSIONS_UI_CONF@'/>
			<Input type='string' key='@TEST_PARTNER_USER_ID@'/>
			<OutputReference type='string' key="currently none"/>
		</TestProcedureData>
	</TestCaseData>
</TestsDataSource>