<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<FileName> 
			testPermissionServiceTest.Data
		</FileName>
		<UnitTestsData>
			<UnitTestData>
				<Inputs>
					<Input type = "KalturaPermission" key ='FEATURE_VAST' partnerId="-2" secret="adminconsoleadminsecret" serviceUrl="local.trunk" service="permission"/>
					<Input type ="string" partnerId ='103' secret ="554ac9ee29650a512affd04d328f472b" serviceUrl ="local.trunk" isAdmin='1'/>
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>

<!--

<Input type = "KalturaPermission" key ='FEATURE_VAST' partnerId="-2" secret="35dc0d295d874788332a813066a77b88"	serviceUrl="www.kaltura.co.cc" service="permission"/>
					<Input type ="string" partnerId ='591' secret ="db73089260d7b34f03136050910914c7" serviceUrl ="www.kaltura.co.cc" isAdmin='1'/>
-->