# Editor configuration, see http://editorconfig.org
root = true

[*.{txt,md,html,css,js,xml,xsd,xsl,xslt,ini,json,yml,yaml,gitignore,template}]
insert_final_newline = true

[*.php]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
#trim_trailing_whitespace = true
