configurations/admin.ini
configurations/batch.ini
configurations/db.ini
configurations/dc_config.ini
configurations/generator.ini
configurations/html5.php
configurations/local.ini
configurations/logger.ini
configurations/plugins.ini
configurations/system.ini
configurations/url_managers.ini
configurations/google_auth.ini
configurations/var.ini
configurations/batch/config.ini
plugins/.buildpath
plugins/.settings/*
alpha/.settings/
.idea
.DS_Store
admin_console/lib/Kaltura/Client/
cache/
batch/client/