@LOG_DIR@/kaltura_admin.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root kaltura
}

@LOG_DIR@/kaltura_multi_publishers.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root kaltura
}

@LOG_DIR@/kaltura_hosted_pages.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root kaltura
}
