@LOG_DIR@/kaltura_batch.log {
    nodateext
    compress
    rotate 40
    create 644
    missingok
    notifempty
	copytruncate
	su root kaltura
}

@LOG_DIR@/batch/*log {
    nodateext
    compress
    notifempty
    rotate 40
    create 644
    missingok
	su root kaltura
}

