@LOG_DIR@/kaltura_api_v3*.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 copytruncate
 su root kaltura
}

@LOG_DIR@/kaltura_prod.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 copytruncate
 su root kaltura
}
