<?xml version='1.0'?>
<TestsDataSource>
	<TestCaseData testCaseName='MetadataServiceTest'>
		<TestProcedureData testProcedureName='testListAction'>
			<TestCaseData testCaseInstanceName='testListAction with template data set'>
				<Input name = 'filter' type = 'KalturaMetadataFilter' key = 'Fill object key'/>
				<Input name = 'pager' type = 'KalturaFilterPager' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaMetadataListResponse' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testAdd'>
			<TestCaseData testCaseInstanceName='testAdd with template data set'>
				<Input name = 'metadataProfileId' type = 'int' key = 'Fill object key'/>
				<Input name = 'objectType' type = 'KalturaMetadataObjectType' key = 'Fill object key'/>
				<Input name = 'objectId' type = 'string' key = 'Fill object key'/>
				<Input name = 'xmlData' type = 'string' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaMetadata' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testDelete'>
			<TestCaseData testCaseInstanceName='testDelete with template data set'>
				<Input name = 'id' type = 'int' key = 'Fill object key'/>
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testGet'>
			<TestCaseData testCaseInstanceName='testGet with template data set'>
				<Input name = 'id' type = 'int' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaMetadata' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testUpdate'>
			<TestCaseData testCaseInstanceName='testUpdate with template data set'>
				<Input name = 'id' type = 'int' key = 'Fill object key'/>
				<Input name = 'xmlData' type = 'string' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaMetadata' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
	</TestCaseData>
</TestsDataSource>
