<?xml version="1.0"?>
<Tests>
	<Header>
		Currently supports only strings (free text area)
	</Header>
	<TestDataFile>
		<Header>
			TODO: add what we need here
		</Header>
		<FileName>
			testMediaServiceUploadAction.Data
		</FileName>
		<Description>
			a test data file for the media service (testUploadAction)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					tests the media service add from token action (via upload + add from token)
				</Description>
				<Inputs>
					<Input type="string" value="C:\Users\Public\Videos\Sample Videos\Logo_Black.flv" partnerId="407081" secret="021e6b694af8004ed2ef890e5664ae24" serviceUrl="www.kaltura.com" service="media"/>
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>