<?xml version="1.0"?>
<Tests>
	<Header>
		TODO: add what we need here
	</Header>
	<TestDataFile>
		<Header>
			TODO: add what we need here
		</Header>
		<FileName>
			testMediaServiceAddFromUploadedFileAction.Data
		</FileName>
		<Description>
			a test data file for the media service (testMediaServiceAddFromToken)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1 - MBR
				</Description>
				<Inputs>
					<Input type ="KalturaMediaEntry" key ='1_4t1kingf' partnerId="407081" secret="021e6b694af8004ed2ef890e5664ae24"/>
					<Input type ="string" key ='32653152'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type ="KalturaMediaEntry" key ='1_4t1kingf' partnerId="407081" secret="021e6b694af8004ed2ef890e5664ae24"/>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
	<TestDataFile>
		<Header>
			TODO: add what we need here
		</Header>
		<FileName>
			testMediaServiceUploadAction.Data
		</FileName>
		<Description>
			a test data file for the media service (testUploadAction)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1 - regular file
				</Description>
				<Inputs>
					<Input type="file" value="C:\Users\Public\Videos\Sample Videos\Wildlife.wmv" partnerId="407081" secret="021e6b694af8004ed2ef890e5664ae24"/>
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>