<VirtualHost kaltura.trunk:80>
	ErrorLog "C:\opt\kaltura\log/kaltura_apache_errors.log"
	CustomLog C:\opt\kaltura\log/kaltura_apache_access.log vhost_kalt
	
	Include "C:\opt\kaltura\app/configurations/apache/conf.d/enabled.*.conf"
</VirtualHost>
