<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<FileName>
			KDLTest1.3.Data
		</FileName>
		<Description>
			a test data file for the decision layer first unit test (testKDLWrapCDLGenerateTargetFlavors)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '8009272'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "404662"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 2
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '35'/>
					<Input type = "mediaInfo" key = '11418772'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1608192"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 3
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '43182'/>
					<Input type = "mediaInfo" key = '8614662'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "494092"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 4
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '8518832'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "483892"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 5
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37982'/>
					<Input type = "mediaInfo" key = '7772422'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "297992"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 6
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '2'/>
					<Input type = "mediaInfo" key = '13650412'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "3011392"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 7
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '7907772'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "368382"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 8
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '11029982'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1266332"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 9
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37422'/>
					<Input type = "mediaInfo" key = '8682132'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "503832"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 10
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '14494442'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "3592092"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 11
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '7772092'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "297792"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 12
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '7777902'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "301522"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 13
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '10132632'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "672142"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 14
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '7782382'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "303182"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 15
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '9725362'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "576562"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 16
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '7772472'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "298022"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 17
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '10079532'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "632212"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 18
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37422'/>
					<Input type = "mediaInfo" key = '7781612'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "302932"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 19
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '44392'/>
					<Input type = "mediaInfo" key = '10033292'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "605262"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 20
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '7772252'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "297882"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 21
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '9661482'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "574862"/>				
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 22
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37982'/>
					<Input type = "mediaInfo" key = '7821992'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "322492"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 23
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37292'/>
					<Input type = "mediaInfo" key = '7777922'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "301532"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 24
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '40762'/>
					<Input type = "mediaInfo" key = '7851872'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "339252"/>
				</OutputReferences>
		   	</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>

