init_content/01.UserRole.-2.xml
init_content/01.UserRole.99.xml
init_content/01.accessControl.xml
init_content/01.conversionProfile.-4.xml
init_content/01.conversionProfile.99.xml
init_content/01.uiConf.-4.xml
init_content/01.uiConf.99.xml
init_content/02.entry.-4.xml
init_content/02.entry.99.xml
init_content/02.playlist.-4.xml
init_content/02.playlist.99.xml
init_content/03.EventNotificationTemplate.0.xml
init_content/04.dropFolder.-4.xml
init_data/01.Partner.ini
init_data/01.liveParams.ini
init_data/02.StorageProfile.ini
init_data/06.FileSync.ini
