<?xml version='1.0'?>
<TestsDataSource>
	<TestCaseData testCaseName='CuePointServiceTest'>
		<TestProcedureData testProcedureName='testListAction'>
			<TestCaseData testCaseInstanceName='testListAction with template data set'>
				<Input name = 'filter' type = 'KalturaCuePointFilter' key = 'Fill object key'/>
				<Input name = 'pager' type = 'KalturaFilterPager' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaCuePointListResponse' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testAdd'>
			<TestCaseData testCaseInstanceName='testAdd with template data set'>
				<Input name = 'cuePoint' type = 'KalturaCuePoint' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaCuePoint' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testGet'>
			<TestCaseData testCaseInstanceName='testGet with template data set'>
				<Input name = 'id' type = 'string' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaCuePoint' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testDelete'>
			<TestCaseData testCaseInstanceName='testDelete with template data set'>
				<Input name = 'id' type = 'string' key = 'Fill object key'/>
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testUpdate'>
			<TestCaseData testCaseInstanceName='testUpdate with template data set'>
				<Input name = 'id' type = 'string' key = 'Fill object key'/>
				<Input name = 'cuePoint' type = 'KalturaCuePoint' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaCuePoint' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
	</TestCaseData>
</TestsDataSource>
