<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<FileName>
			KDLTest1.1.Data
		</FileName>
		<UnitTestsData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '11418772'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1608192"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>

				<Inputs>
					<Input type = "flavorParams" key = '41302'/>
					<Input type = "mediaInfo" key = '7921752'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "376552"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '10306992'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "802482"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '38572'/>
					<Input type = "mediaInfo" key = '7921562'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "376432"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '41212'/>
					<Input type = "mediaInfo" key = '10152252'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "687012"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37422'/>
					<Input type = "mediaInfo" key = '8396932'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "475872"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '13585332'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "2963772"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '12004812'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "2030302"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '11196622'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1413252"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '8003102'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "400692"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37982'/>
					<Input type = "mediaInfo" key = '7920222'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "375642"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '10425382'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "855552"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37982'/>
					<Input type = "mediaInfo" key = '7921452'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "376382"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '41692'/>
					<Input type = "mediaInfo" key = '8525432'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "487212"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '41432'/>
					<Input type = "mediaInfo" key = '7940722'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "389332"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '11369872'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1565632"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '8780632'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "517602"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '8280842'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "466202"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '27212'/>
					<Input type = "mediaInfo" key = '8063272'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "421692"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '29802'/>
					<Input type = "mediaInfo" key = '7920132'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "375472"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37982'/>
					<Input type = "mediaInfo" key = '7929272'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "381482"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>						
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '8015122'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "408692"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>						
					<Input type = "flavorParams" key = '37442'/>
					<Input type = "mediaInfo" key = '7977932'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "395482"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '7998152'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "397932"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37442'/>
					<Input type = "mediaInfo" key = '7970132'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "394812"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '11650312'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1799592"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '7552'/>
					<Input type = "mediaInfo" key = '8233052'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "457042"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '37982'/>
					<Input type = "mediaInfo" key = '7921532'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "376402"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Inputs>		
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '11092362'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "1321992"/>
				</OutputReferences>
		   	</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
	<TestDataFile>
		<FileName>
			KDLTest2.1.Data
		</FileName>
		<UnitTestsData>
			<UnitTestData>
				<Inputs>
					<Input type = "mediaInfo" key = '32653152'/>
					<Input type = "flavorParamsOutput" key = "17467722"/>
					<Input type = "mediaInfo" key = '32653402'/>				
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Inputs>
					<Input type = "mediaInfo" key = '32653152'/>
					<Input type = "flavorParamsOutput" key = "17467742"/>
					<Input type = "mediaInfo" key = '32653392'/>				
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>