<?xml version="1.0"?>
<TestsDataSource>
	<TestCaseData testCaseName="KDLTest">
		<TestProcedureData testProcedureName="testKDLWrapCDLGenerateTargetFlavors">
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11418772'/>
				<OutputReference type = "flavorParamsOutput" key = "1608192"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41302'/>
				<Input type = "mediaInfo" key = '7921752'/>
				<OutputReference type = "flavorParamsOutput" key = "376552"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '10306992'/>
				<OutputReference type = "flavorParamsOutput" key = "802482"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '38572'/>
				<Input type = "mediaInfo" key = '7921562'/>
				<OutputReference type = "flavorParamsOutput" key = "376432"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41212'/>
				<Input type = "mediaInfo" key = '10152252'/>
				<OutputReference type = "flavorParamsOutput" key = "687012"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37422'/>
				<Input type = "mediaInfo" key = '8396932'/>
				<OutputReference type = "flavorParamsOutput" key = "475872"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '13585332'/>
				<OutputReference type = "flavorParamsOutput" key = "2963772"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '12004812'/>
				<OutputReference type = "flavorParamsOutput" key = "2030302"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11196622'/>
				<OutputReference type = "flavorParamsOutput" key = "1413252"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8003102'/>
				<OutputReference type = "flavorParamsOutput" key = "400692"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7920222'/>
				<OutputReference type = "flavorParamsOutput" key = "375642"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '10425382'/>
				<OutputReference type = "flavorParamsOutput" key = "855552"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7921452'/>
				<OutputReference type = "flavorParamsOutput" key = "376382"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41692'/>
				<Input type = "mediaInfo" key = '8525432'/>
				<OutputReference type = "flavorParamsOutput" key = "487212"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41432'/>
				<Input type = "mediaInfo" key = '7940722'/>
				<OutputReference type = "flavorParamsOutput" key = "389332"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11369872'/>
				<OutputReference type = "flavorParamsOutput" key = "1565632"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8780632'/>
				<OutputReference type = "flavorParamsOutput" key = "517602"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8280842'/>
				<OutputReference type = "flavorParamsOutput" key = "466202"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '27212'/>
				<Input type = "mediaInfo" key = '8063272'/>
				<OutputReference type = "flavorParamsOutput" key = "421692"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '29802'/>
				<Input type = "mediaInfo" key = '7920132'/>
				<OutputReference type = "flavorParamsOutput" key = "375472"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7929272'/>
				<OutputReference type = "flavorParamsOutput" key = "381482"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '8015122'/>
				<OutputReference type = "flavorParamsOutput" key = "408692"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37442'/>
				<Input type = "mediaInfo" key = '7977932'/>
				<OutputReference type = "flavorParamsOutput" key = "395482"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '7998152'/>
				<OutputReference type = "flavorParamsOutput" key = "397932"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37442'/>
				<Input type = "mediaInfo" key = '7970132'/>
				<OutputReference type = "flavorParamsOutput" key = "394812"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11650312'/>
				<OutputReference type = "flavorParamsOutput" key = "1799592"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '7552'/>
				<Input type = "mediaInfo" key = '8233052'/>
				<OutputReference type = "flavorParamsOutput" key = "457042"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7921532'/>
				<OutputReference type = "flavorParamsOutput" key = "376402"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11092362'/>
				<OutputReference type = "flavorParamsOutput" key = "1321992"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '14120022'/>
				<OutputReference type = "flavorParamsOutput" key = "3334082"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '14120022'/>
				<OutputReference type = "flavorParamsOutput" key = "3343142"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '9139372'/>
				<OutputReference type = "flavorParamsOutput" key = "547822"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37352'/>
				<Input type = "mediaInfo" key = '12096882'/>
				<OutputReference type = "flavorParamsOutput" key = "2083252"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '14494322'/>
				<OutputReference type = "flavorParamsOutput" key = "3592012"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '4'/>
				<Input type = "mediaInfo" key = '12459022'/>
				<OutputReference type = "flavorParamsOutput" key = "2305102"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '49862'/>
				<Input type = "mediaInfo" key = '14935392'/>
				<OutputReference type = "flavorParamsOutput" key = "3911222"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41212'/>
				<Input type = "mediaInfo" key = '10152272'/>
				<OutputReference type = "flavorParamsOutput" key = "687022"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10542182'/>
				<OutputReference type = "flavorParamsOutput" key = "934662"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10148682'/>
				<OutputReference type = "flavorParamsOutput" key = "684302"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '13606542'/>
				<OutputReference type = "flavorParamsOutput" key = "2978772"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '12965702'/>
				<OutputReference type = "flavorParamsOutput" key = "2599862"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '9140052'/>
				<OutputReference type = "flavorParamsOutput" key = "548142"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8963972'/>
				<OutputReference type = "flavorParamsOutput" key = "537072"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10428512'/>
				<OutputReference type = "flavorParamsOutput" key = "857782"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '8009272'/>
				<OutputReference type = "flavorParamsOutput" key = "404662"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '35'/>
				<Input type = "mediaInfo" key = '11418772'/>
				<OutputReference type = "flavorParamsOutput" key = "1608192"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '43182'/>
				<Input type = "mediaInfo" key = '8614662'/>
				<OutputReference type = "flavorParamsOutput" key = "494092"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '8518832'/>
				<OutputReference type = "flavorParamsOutput" key = "483892"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7772422'/>
				<OutputReference type = "flavorParamsOutput" key = "297992"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '2'/>
				<Input type = "mediaInfo" key = '13650412'/>
				<OutputReference type = "flavorParamsOutput" key = "3011392"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '7907772'/>
				<OutputReference type = "flavorParamsOutput" key = "368382"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '11029982'/>
				<OutputReference type = "flavorParamsOutput" key = "1266332"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37422'/>
				<Input type = "mediaInfo" key = '8682132'/>
				<OutputReference type = "flavorParamsOutput" key = "503832"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '14494442'/>
				<OutputReference type = "flavorParamsOutput" key = "3592092"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7772092'/>
				<OutputReference type = "flavorParamsOutput" key = "297792"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '7777902'/>
				<OutputReference type = "flavorParamsOutput" key = "301522"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '10132632'/>
				<OutputReference type = "flavorParamsOutput" key = "672142"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7782382'/>
				<OutputReference type = "flavorParamsOutput" key = "303182"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '9725362'/>
				<OutputReference type = "flavorParamsOutput" key = "576562"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7772472'/>
				<OutputReference type = "flavorParamsOutput" key = "298022"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10079532'/>
				<OutputReference type = "flavorParamsOutput" key = "632212"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37422'/>
				<Input type = "mediaInfo" key = '7781612'/>
				<OutputReference type = "flavorParamsOutput" key = "302932"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '44392'/>
				<Input type = "mediaInfo" key = '10033292'/>
				<OutputReference type = "flavorParamsOutput" key = "605262"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7772252'/>
				<OutputReference type = "flavorParamsOutput" key = "297882"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '9661482'/>
				<OutputReference type = "flavorParamsOutput" key = "574862"/>				
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7821992'/>
				<OutputReference type = "flavorParamsOutput" key = "322492"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37292'/>
				<Input type = "mediaInfo" key = '7777922'/>
				<OutputReference type = "flavorParamsOutput" key = "301532"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56591'/>
				<Input type = "mediaInfo" key = '50860322'/>
				<OutputReference type = "flavorParamsOutput" key = "33472202"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69830971'/>
				<OutputReference type = "flavorParamsOutput" key = "52494511"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56591'/>
				<Input type = "mediaInfo" key = '50855162'/>
				<OutputReference type = "flavorParamsOutput" key = "33475352"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '71154592'/>
				<OutputReference type = "flavorParamsOutput" key = "53805572"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339821'/>
				<Input type = "mediaInfo" key = '70773311'/>
				<OutputReference type = "flavorParamsOutput" key = "52517872"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339811'/>
				<Input type = "mediaInfo" key = '69863312'/>
				<OutputReference type = "flavorParamsOutput" key = "52520092"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69824462'/>
				<OutputReference type = "flavorParamsOutput" key = "52487822"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339811'/>
				<Input type = "mediaInfo" key = '69859961'/>
				<OutputReference type = "flavorParamsOutput" key = "52520141"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '319431'/>
				<Input type = "mediaInfo" key = '58719071'/>
				<OutputReference type = "flavorParamsOutput" key = "41377121"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339811'/>
				<Input type = "mediaInfo" key = '71497591'/>
				<OutputReference type = "flavorParamsOutput" key = "54131181"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '72219301'/>
				<OutputReference type = "flavorParamsOutput" key = "54865871"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '309081'/>
				<Input type = "mediaInfo" key = '55187581'/>
				<OutputReference type = "flavorParamsOutput" key = "37940251"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69546101'/>
				<OutputReference type = "flavorParamsOutput" key = "52216141"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '71153311'/>
				<OutputReference type = "flavorParamsOutput" key = "53788441"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '70762831'/>
				<OutputReference type = "flavorParamsOutput" key = "53417781"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339811'/>
				<Input type = "mediaInfo" key = '74101151'/>
				<OutputReference type = "flavorParamsOutput" key = "55547271"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69548981'/>
				<OutputReference type = "flavorParamsOutput" key = "52219201"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69546051'/>
				<OutputReference type = "flavorParamsOutput" key = "52213981"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '71188371'/>
				<OutputReference type = "flavorParamsOutput" key = "53827801"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56591'/>
				<Input type = "mediaInfo" key = '53579591'/>
				<OutputReference type = "flavorParamsOutput" key = "36295701"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56591'/>
				<Input type = "mediaInfo" key = '50661831'/>
				<OutputReference type = "flavorParamsOutput" key = "33471771"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '309081'/>
				<Input type = "mediaInfo" key = '54022001'/>
				<OutputReference type = "flavorParamsOutput" key = "36747001"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339811'/>
				<Input type = "mediaInfo" key = '69825221'/>
				<OutputReference type = "flavorParamsOutput" key = "52488791"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '70894571'/>
				<OutputReference type = "flavorParamsOutput" key = "53564801"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69831441'/>
				<OutputReference type = "flavorParamsOutput" key = "52494811"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '71868001'/>
				<OutputReference type = "flavorParamsOutput" key = "54480401"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '69595631'/>
				<OutputReference type = "flavorParamsOutput" key = "52271391"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '71175961'/>
				<OutputReference type = "flavorParamsOutput" key = "53824021"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '349241'/>
				<Input type = "mediaInfo" key = '71964021'/>
				<OutputReference type = "flavorParamsOutput" key = "54610491"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '71311401'/>
				<OutputReference type = "flavorParamsOutput" key = "53952161"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '349241'/>
				<Input type = "mediaInfo" key = '71970581'/>
				<OutputReference type = "flavorParamsOutput" key = "54616691"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339801'/>
				<Input type = "mediaInfo" key = '70913221'/>
				<OutputReference type = "flavorParamsOutput" key = "53574121"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56591'/>
				<Input type = "mediaInfo" key = '50955791'/>
				<OutputReference type = "flavorParamsOutput" key = "33742301"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49559002'/>
				<OutputReference type = "flavorParamsOutput" key = "32428762"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '51222'/>
				<Input type = "mediaInfo" key = '49216302'/>
				<OutputReference type = "flavorParamsOutput" key = "32115342"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49276442'/>
				<OutputReference type = "flavorParamsOutput" key = "32172672"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '1'/>
				<Input type = "mediaInfo" key = '49285902'/>
				<OutputReference type = "flavorParamsOutput" key = "32183002"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49215532'/>
				<OutputReference type = "flavorParamsOutput" key = "32114022"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49222912'/>
				<OutputReference type = "flavorParamsOutput" key = "32117272"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '55417082'/>
				<OutputReference type = "flavorParamsOutput" key = "38155272"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49558682'/>
				<OutputReference type = "flavorParamsOutput" key = "32428502"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '58062862'/>
				<OutputReference type = "flavorParamsOutput" key = "40714902"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49219392'/>
				<OutputReference type = "flavorParamsOutput" key = "32117122"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '50922'/>
				<Input type = "mediaInfo" key = '50547212'/>
				<OutputReference type = "flavorParamsOutput" key = "33370052"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '50997002'/>
				<OutputReference type = "flavorParamsOutput" key = "33787262"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '2'/>
				<Input type = "mediaInfo" key = '68072371'/>
				<OutputReference type = "flavorParamsOutput" key = "50812141"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '54700631'/>
				<OutputReference type = "flavorParamsOutput" key = "37446911"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '52824571'/>
				<OutputReference type = "flavorParamsOutput" key = "35590861"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56381'/>
				<Input type = "mediaInfo" key = '49237751'/>
				<OutputReference type = "flavorParamsOutput" key = "32132771"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49754261'/>
				<OutputReference type = "flavorParamsOutput" key = "32614421"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '4'/>
				<Input type = "mediaInfo" key = '69649361'/>
				<OutputReference type = "flavorParamsOutput" key = "52325901"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '60521'/>
				<Input type = "mediaInfo" key = '49218821'/>
				<OutputReference type = "flavorParamsOutput" key = "32116481"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '53773681'/>
				<OutputReference type = "flavorParamsOutput" key = "36494231"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '51163401'/>
				<OutputReference type = "flavorParamsOutput" key = "33954041"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49304581'/>
				<OutputReference type = "flavorParamsOutput" key = "32199001"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '52240202'/>
				<OutputReference type = "flavorParamsOutput" key = "35017312"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '44132'/>
				<Input type = "mediaInfo" key = '49726362'/>
				<OutputReference type = "flavorParamsOutput" key = "32586922"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '49593682'/>
				<OutputReference type = "flavorParamsOutput" key = "32463772"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49338712'/>
				<OutputReference type = "flavorParamsOutput" key = "32231502"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49315872'/>
				<OutputReference type = "flavorParamsOutput" key = "32209892"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '55503221'/>
				<OutputReference type = "flavorParamsOutput" key = "38237321"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '54557761'/>
				<OutputReference type = "flavorParamsOutput" key = "37299491"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '51188361'/>
				<OutputReference type = "flavorParamsOutput" key = "33975311"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '50752991'/>
				<OutputReference type = "flavorParamsOutput" key = "33549141"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '329121'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "47320262"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '329121'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "47318922"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '329121'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "46711091"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '329121'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "46705451"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '329121'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "48511501"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '329121'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "46711501"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '339891'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "52268361"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '271782'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "46705301"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54922'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "33918861"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '271782'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "46705321"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54922'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "33803731"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '326851'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "43113861"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "48588902"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "36384202"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "36107622"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "51065522"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "35730832"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "42287242"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "49917172"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54932'/>
				<Input type = "mediaInfo" key = '-1'/>
				<OutputReference type = "flavorParamsOutput" key = "54661302"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49221172'/>
				<OutputReference type = "flavorParamsOutput" key = "32118732"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49220372'/>
				<OutputReference type = "flavorParamsOutput" key = "32117802"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49559002'/>
				<OutputReference type = "flavorParamsOutput" key = "32428762"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49270482'/>
				<OutputReference type = "flavorParamsOutput" key = "32167712"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49544222'/>
				<OutputReference type = "flavorParamsOutput" key = "32415582"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '51533322'/>
				<OutputReference type = "flavorParamsOutput" key = "34324862"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '51978002'/>
				<OutputReference type = "flavorParamsOutput" key = "34764142"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '29242'/>
				<Input type = "mediaInfo" key = '50905962'/>
				<OutputReference type = "flavorParamsOutput" key = "33694722"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '54782'/>
				<Input type = "mediaInfo" key = '51916482'/>
				<OutputReference type = "flavorParamsOutput" key = "34703152"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49222992'/>
				<OutputReference type = "flavorParamsOutput" key = "32120272"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49396932'/>
				<OutputReference type = "flavorParamsOutput" key = "32286072"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '57611'/>
				<Input type = "mediaInfo" key = '55400022'/>
				<OutputReference type = "flavorParamsOutput" key = "38142552"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49240692'/>
				<OutputReference type = "flavorParamsOutput" key = "32135782"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49587482'/>
				<OutputReference type = "flavorParamsOutput" key = "32458152"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '65011'/>
				<Input type = "mediaInfo" key = '49376782'/>
				<OutputReference type = "flavorParamsOutput" key = "32268042"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49283822'/>
				<OutputReference type = "flavorParamsOutput" key = "32180352"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49218872'/>
				<OutputReference type = "flavorParamsOutput" key = "32116562"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '3'/>
				<Input type = "mediaInfo" key = '49214042'/>
				<OutputReference type = "flavorParamsOutput" key = "32112582"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '50320512'/>
				<OutputReference type = "flavorParamsOutput" key = "33144362"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49558682'/>
				<OutputReference type = "flavorParamsOutput" key = "32428502"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '51914882'/>
				<OutputReference type = "flavorParamsOutput" key = "34701422"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '3'/>
				<Input type = "mediaInfo" key = '49214132'/>
				<OutputReference type = "flavorParamsOutput" key = "32112912"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49237002'/>
				<OutputReference type = "flavorParamsOutput" key = "32132302"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '52520172'/>
				<OutputReference type = "flavorParamsOutput" key = "35285082"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49246632'/>
				<OutputReference type = "flavorParamsOutput" key = "32141162"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49311481'/>
				<OutputReference type = "flavorParamsOutput" key = "32205451"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '53467461'/>
				<OutputReference type = "flavorParamsOutput" key = "36188731"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '54700631'/>
				<OutputReference type = "flavorParamsOutput" key = "37446911"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '52824241'/>
				<OutputReference type = "flavorParamsOutput" key = "35590671"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '52095811'/>
				<OutputReference type = "flavorParamsOutput" key = "34880881"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '56381'/>
				<Input type = "mediaInfo" key = '49237751'/>
				<OutputReference type = "flavorParamsOutput" key = "32132771"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '60521'/>
				<Input type = "mediaInfo" key = '49316031'/>
				<OutputReference type = "flavorParamsOutput" key = "32210241"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '60521'/>
				<Input type = "mediaInfo" key = '49278421'/>
				<OutputReference type = "flavorParamsOutput" key = "32174991"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '60521'/>
				<Input type = "mediaInfo" key = '49218821'/>
				<OutputReference type = "flavorParamsOutput" key = "32116481"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49551461'/>
				<OutputReference type = "flavorParamsOutput" key = "29830081"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '55832301'/>
				<OutputReference type = "flavorParamsOutput" key = "38539401"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '4'/>
				<Input type = "mediaInfo" key = '52196301'/>
				<OutputReference type = "flavorParamsOutput" key = "34972771"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '3'/>
				<Input type = "mediaInfo" key = '51158181'/>
				<OutputReference type = "flavorParamsOutput" key = "33948441"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49591851'/>
				<OutputReference type = "flavorParamsOutput" key = "32461741"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49939671'/>
				<OutputReference type = "flavorParamsOutput" key = "32784071"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '50261161'/>
				<OutputReference type = "flavorParamsOutput" key = "33082461"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '51663101'/>
				<OutputReference type = "flavorParamsOutput" key = "34438551"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '51408041'/>
				<OutputReference type = "flavorParamsOutput" key = "34186781"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '49304581'/>
				<OutputReference type = "flavorParamsOutput" key = "32199001"/>
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName="testKDLWrapCDLValidateProduct">
			<TestCaseData>
				<Input type = "mediaInfo" key = '32653152'/>
				<Input type = "flavorParamsOutput" key = "17467722"/>
				<Input type = "mediaInfo" key = '32653402'/>				
			</TestCaseData>
			<TestCaseData>
				<Input type = "mediaInfo" key = '32653152'/>
				<Input type = "flavorParamsOutput" key = "17467742"/>
				<Input type = "mediaInfo" key = '32653392'/>
			</TestCaseData>	
		</TestProcedureData>
	</TestCaseData>
</TestsDataSource>
