<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<FileName>
			KDLTest1.2.Data
		</FileName>
		<Description>
			a test data file for the decision layer first unit test (testKDLWrapCDLGenerateTargetFlavors)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '14120022'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "3334082"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 2
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '14120022'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "3343142"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 3
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '9139372'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "547822"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 4
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37352'/>
					<Input type = "mediaInfo" key = '12096882'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "2083252"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 5
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '14494322'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "3592012"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 6
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '4'/>
					<Input type = "mediaInfo" key = '12459022'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "2305102"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 7
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '49862'/>
					<Input type = "mediaInfo" key = '14935392'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "3911222"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 8
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '41212'/>
					<Input type = "mediaInfo" key = '10152272'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "687022"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 9
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '10542182'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "934662"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 10
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '10148682'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "684302"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 11
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '13606542'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "2978772"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 12
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '12965702'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "2599862"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 13
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '9140052'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "548142"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 14
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37302'/>
					<Input type = "mediaInfo" key = '8963972'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "537072"/>
				</OutputReferences>
		   	</UnitTestData>
			<UnitTestData>
				<Description>
					test data 15
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '37362'/>
					<Input type = "mediaInfo" key = '10428512'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "857782"/>
				</OutputReferences>
		   	</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>

