<?xml version="1.0"?>
<TestsDataSource>
	<TestCaseData testCaseName="KDLTest">
		<TestProcedureData testProcedureName="testKDLWrapCDLGenerateTargetFlavors">
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11418772'/>
				<OutputReference type = "flavorParamsOutput" key = "1608192"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41302'/>
				<Input type = "mediaInfo" key = '7921752'/>
				<OutputReference type = "flavorParamsOutput" key = "376552"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '10306992'/>
				<OutputReference type = "flavorParamsOutput" key = "802482"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '38572'/>
				<Input type = "mediaInfo" key = '7921562'/>
				<OutputReference type = "flavorParamsOutput" key = "376432"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41212'/>
				<Input type = "mediaInfo" key = '10152252'/>
				<OutputReference type = "flavorParamsOutput" key = "687012"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37422'/>
				<Input type = "mediaInfo" key = '8396932'/>
				<OutputReference type = "flavorParamsOutput" key = "475872"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '13585332'/>
				<OutputReference type = "flavorParamsOutput" key = "2963772"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '12004812'/>
				<OutputReference type = "flavorParamsOutput" key = "2030302"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11196622'/>
				<OutputReference type = "flavorParamsOutput" key = "1413252"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8003102'/>
				<OutputReference type = "flavorParamsOutput" key = "400692"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7920222'/>
				<OutputReference type = "flavorParamsOutput" key = "375642"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '10425382'/>
				<OutputReference type = "flavorParamsOutput" key = "855552"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7921452'/>
				<OutputReference type = "flavorParamsOutput" key = "376382"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41692'/>
				<Input type = "mediaInfo" key = '8525432'/>
				<OutputReference type = "flavorParamsOutput" key = "487212"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41432'/>
				<Input type = "mediaInfo" key = '7940722'/>
				<OutputReference type = "flavorParamsOutput" key = "389332"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11369872'/>
				<OutputReference type = "flavorParamsOutput" key = "1565632"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8780632'/>
				<OutputReference type = "flavorParamsOutput" key = "517602"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8280842'/>
				<OutputReference type = "flavorParamsOutput" key = "466202"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '27212'/>
				<Input type = "mediaInfo" key = '8063272'/>
				<OutputReference type = "flavorParamsOutput" key = "421692"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '29802'/>
				<Input type = "mediaInfo" key = '7920132'/>
				<OutputReference type = "flavorParamsOutput" key = "375472"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7929272'/>
				<OutputReference type = "flavorParamsOutput" key = "381482"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '8015122'/>
				<OutputReference type = "flavorParamsOutput" key = "408692"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37442'/>
				<Input type = "mediaInfo" key = '7977932'/>
				<OutputReference type = "flavorParamsOutput" key = "395482"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '7998152'/>
				<OutputReference type = "flavorParamsOutput" key = "397932"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37442'/>
				<Input type = "mediaInfo" key = '7970132'/>
				<OutputReference type = "flavorParamsOutput" key = "394812"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11650312'/>
				<OutputReference type = "flavorParamsOutput" key = "1799592"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '7552'/>
				<Input type = "mediaInfo" key = '8233052'/>
				<OutputReference type = "flavorParamsOutput" key = "457042"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7921532'/>
				<OutputReference type = "flavorParamsOutput" key = "376402"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '11092362'/>
				<OutputReference type = "flavorParamsOutput" key = "1321992"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '14120022'/>
				<OutputReference type = "flavorParamsOutput" key = "3334082"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '14120022'/>
				<OutputReference type = "flavorParamsOutput" key = "3343142"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '9139372'/>
				<OutputReference type = "flavorParamsOutput" key = "547822"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37352'/>
				<Input type = "mediaInfo" key = '12096882'/>
				<OutputReference type = "flavorParamsOutput" key = "2083252"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '14494322'/>
				<OutputReference type = "flavorParamsOutput" key = "3592012"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '4'/>
				<Input type = "mediaInfo" key = '12459022'/>
				<OutputReference type = "flavorParamsOutput" key = "2305102"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '49862'/>
				<Input type = "mediaInfo" key = '14935392'/>
				<OutputReference type = "flavorParamsOutput" key = "3911222"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '41212'/>
				<Input type = "mediaInfo" key = '10152272'/>
				<OutputReference type = "flavorParamsOutput" key = "687022"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10542182'/>
				<OutputReference type = "flavorParamsOutput" key = "934662"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10148682'/>
				<OutputReference type = "flavorParamsOutput" key = "684302"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '13606542'/>
				<OutputReference type = "flavorParamsOutput" key = "2978772"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '12965702'/>
				<OutputReference type = "flavorParamsOutput" key = "2599862"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '9140052'/>
				<OutputReference type = "flavorParamsOutput" key = "548142"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '8963972'/>
				<OutputReference type = "flavorParamsOutput" key = "537072"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10428512'/>
				<OutputReference type = "flavorParamsOutput" key = "857782"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '8009272'/>
				<OutputReference type = "flavorParamsOutput" key = "404662"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '35'/>
				<Input type = "mediaInfo" key = '11418772'/>
				<OutputReference type = "flavorParamsOutput" key = "1608192"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '43182'/>
				<Input type = "mediaInfo" key = '8614662'/>
				<OutputReference type = "flavorParamsOutput" key = "494092"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '8518832'/>
				<OutputReference type = "flavorParamsOutput" key = "483892"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7772422'/>
				<OutputReference type = "flavorParamsOutput" key = "297992"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '2'/>
				<Input type = "mediaInfo" key = '13650412'/>
				<OutputReference type = "flavorParamsOutput" key = "3011392"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '7907772'/>
				<OutputReference type = "flavorParamsOutput" key = "368382"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '11029982'/>
				<OutputReference type = "flavorParamsOutput" key = "1266332"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37422'/>
				<Input type = "mediaInfo" key = '8682132'/>
				<OutputReference type = "flavorParamsOutput" key = "503832"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '14494442'/>
				<OutputReference type = "flavorParamsOutput" key = "3592092"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7772092'/>
				<OutputReference type = "flavorParamsOutput" key = "297792"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37302'/>
				<Input type = "mediaInfo" key = '7777902'/>
				<OutputReference type = "flavorParamsOutput" key = "301522"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '10132632'/>
				<OutputReference type = "flavorParamsOutput" key = "672142"/>
		   	</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7782382'/>
				<OutputReference type = "flavorParamsOutput" key = "303182"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '9725362'/>
				<OutputReference type = "flavorParamsOutput" key = "576562"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7772472'/>
				<OutputReference type = "flavorParamsOutput" key = "298022"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '10079532'/>
				<OutputReference type = "flavorParamsOutput" key = "632212"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37422'/>
				<Input type = "mediaInfo" key = '7781612'/>
				<OutputReference type = "flavorParamsOutput" key = "302932"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '44392'/>
				<Input type = "mediaInfo" key = '10033292'/>
				<OutputReference type = "flavorParamsOutput" key = "605262"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37362'/>
				<Input type = "mediaInfo" key = '7772252'/>
				<OutputReference type = "flavorParamsOutput" key = "297882"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '5'/>
				<Input type = "mediaInfo" key = '9661482'/>
				<OutputReference type = "flavorParamsOutput" key = "574862"/>				
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37982'/>
				<Input type = "mediaInfo" key = '7821992'/>
				<OutputReference type = "flavorParamsOutput" key = "322492"/>
			</TestCaseData>
			<TestCaseData>
				<Input type = "flavorParams" key = '37292'/>
				<Input type = "mediaInfo" key = '7777922'/>
				<OutputReference type = "flavorParamsOutput" key = "301532"/>
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName="testKDLWrapCDLValidateProduct">
			<TestCaseData>
				<Input type = "mediaInfo" key = '32653152'/>
				<Input type = "flavorParamsOutput" key = "17467722"/>
				<Input type = "mediaInfo" key = '32653402'/>				
			</TestCaseData>
			<TestCaseData>
				<Input type = "mediaInfo" key = '32653152'/>
				<Input type = "flavorParamsOutput" key = "17467742"/>
				<Input type = "mediaInfo" key = '32653392'/>				
			</TestCaseData>
		</TestProcedureData>
	</TestCaseData>
</TestsDataSource>