body, html { margin:0; padding:0; height: 100%; }

* { margin:0; padding:0;}
body { background: #f7f7f7 url(../images/bg.png) repeat-x; font: normal 62.5% arial,sans-serif; }

a { color: #202020; } 
a:hover { color: #505050; }

.left { height: 100%; float: left; margin: 0 15px; width: 280px; overflow: auto; }
.left .left-content { padding: 10px; }
	
.right { height: 100%; float: left; border: 0; }
.right iframe { width: 100%; height: 100%; border: 0; }

#action-params, .param, .object { margin-bottom: 15px; }

.param label, .object-name, .array-name { display: block; padding-bottom: 2px; font-size: 10px; color: #666; }
.param select, .param input[type="text"] { font-size: 12px; padding: 2px; border: 1px solid #D7D7D7; }
.param select { width: 206px; }
.param input[type="text"] { width: 200px; }
.param .disabled { background-color: #F0F0F0; color: #666; }
.param .help { margin-top: 3px; cursor: help; }

button { background-color: #A0A0A0; border-color: #DEDEDE #202020 #202020 #DEDEDE; border-style: solid; border-width: 1px; color: #FFFFFF; font-size: 12px; padding: 2px 10px; text-align: center; cursor: pointer; }

.array-button {font-size: 9px}

.object-name { cursor: pointer; }
.object-type {font-size: 9px}
.object-properties { display: none; overflow: scroll; position: absolute; top: 65px; padding: 0 10px; background-color: #F7F7F7;  }


.helpTooltip { }
#kmcSubMenu { margin: 7px 15px 27px; display:table; zoom:1;}
#kmcSubMenu li { float:left; display:inline; list-style: none inside none; padding-left:9px; height:19px;}
#kmcSubMenu li a, #kmcSubMenu li a:active, #kmcSubMenu li a:visited { height:19px; padding: 1px 12px 0 4px; display:block; font: bold 12px arial,sans-serif; color:#666; text-decoration:none;}
#kmcSubMenu li a:hover { color:#000;}
#kmcSubMenu li.active { margin-top:1px; background:url(../images/jellybean.png) 0 0 no-repeat;}
#kmcSubMenu li.active a { font-weights:normal; color:#fff; background:url(../images/jellybean.png) right 0 no-repeat;}

#kmcSubMenu li.code-menu-toggle a, #kmcSubMenu li.code-menu-toggle a:visited, #kmcSubMenu li.code-menu-toggle a:active {color:#ff0000;}
