<?xml version='1.0'?>
<TestsDataSource>
	<TestCaseData testCaseName='UserServiceTest'>
		<TestProcedureData testProcedureName='testAdd'>
			<TestCaseData testCaseInstanceName='testAdd with template data set'>
				<Input name = 'user' type = 'KalturaUser' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaUser' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testUpdate'>
			<TestCaseData testCaseInstanceName='testUpdate with template data set'>
				<Input name = 'userId' type = 'string' key = 'Fill object key'/>
				<Input name = 'user' type = 'KalturaUser' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaUser' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testGet'>
			<TestCaseData testCaseInstanceName='testGet with template data set'>
				<Input name = 'userId' type = 'string' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaUser' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testDelete'>
			<TestCaseData testCaseInstanceName='testDelete with template data set'>
				<Input name = 'userId' type = 'string' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaUser' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
		<TestProcedureData testProcedureName='testListAction'>
			<TestCaseData testCaseInstanceName='testListAction with template data set'>
				<Input name = 'filter' type = 'KalturaUserFilter' key = 'Fill object key'/>
				<Input name = 'pager' type = 'KalturaFilterPager' key = 'Fill object key'/>
				<OutputReference name = 'output' type = 'KalturaUserListResponse' key = 'Fill the object key' />
			</TestCaseData>
		</TestProcedureData>
	</TestCaseData>
</TestsDataSource>
