<?xml version="1.0"?>
<Tests>
	<Header>
		Currently supports only strings (free text area)
	</Header>
	<TestDataFile>
		<Header>
			Currently supports only strings (free text area)
		</Header>
		<FileName> 
			exampleTest.Data
		</FileName>
		<Description>
			The Test File description, Currently supports strings (free text area)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					The Test description, Currently supports strings (free text area)
				</Description>
				<Inputs>
					<Input type = "the API object type" key ='the object ID for get action' partnerId="The partner id" secret="The Admin_Secret" 	serviceUrl="the service provider" service="the service from who we can get the object"/>
					<Input type ="KalturaMediaEntry" key ='1_4t1kingf' partnerId ="407081" 	secret ="021e6b694af8004ed2ef890e5664ae24" serviceUrl ="www.kaltura.com" service ="media"/>
					<Input type = "the propel object type" key ='the object ID or Key (retrived by PK)' YourCustomAttribute = "What Ever You Want As A String(is optional)"/>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "YourCustomType" YourCustomAttribute1 = "What Ever You Want As A String(is optional)" YourCustomAttribute2 = "false"/>
					<Input type = "string" value = 'WOW' Date = "Now"/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "Custom" value = "Just like above"/>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>