<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<FileName type = "relative">
			testBaseEntryServiceAddFromUploadedFileAction.Data
		</FileName>
		<Description>
			a test data file for the decision layer first unit test (testKDLWrapCDLGenerateTargetFlavors)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1 - MBR
				</Description>
				<Inputs>
					<Input type = "KalturaBaseEntry" key = '5'/>
					<Input type = "string" key = '32653152'/>
					<Input type = "KalturaEntryType" key = '5'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "17467722"/>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>