
define servicegroup{
		servicegroup_name				kaltura-host-batch-queue-size
		alias							Kaltura Batch Queue Size
}

define servicegroup{
		servicegroup_name				kaltura-host-batch-error-percent
		alias							Kaltura Batch Error Percent
}

define servicegroup{
		servicegroup_name				kaltura-host-batch-fatal-percent
		alias							Kaltura Batch Fatal Percent
}

define servicegroup{
		servicegroup_name				kaltura-host-sphinx
		alias							Kaltura Sphinx
}
