<?php
// This template file contains variables that should be localized.
// The line (specifying the location of the PHP/PEAR libraries) must be
// first. Moving it to a position later in the file will almost certainly
// cause an error.

// In order to use this file, first copy it to LocalSeleniumSettings.php.
// Then edit the information to conform to the local environment. You
// will almost certainly have to uncomment the line set_include_path ... and
// change the string 'PEAR' to the path to your PEAR library, e.g.,
// '/usr/share/php/PEAR' for a Debian based Linux system.
// The edited file must appear in the same directory as does RunSeleniumTests.php.

// include path. Set 'PEAR" to '/path/to/PEAR/library'

// URL: http://localhost/tests/RunSeleniumTests.php
#set_include_path( get_include_path() . PATH_SEPARATOR . 'PEAR' );

// Hostname of selenium server
$wgSeleniumTestsSeleniumHost = 'grid.tesla.usability.wikimedia.org';

// URL of the wiki to be tested. Consult web server configuration.
$wgSeleniumTestsWikiUrl = 'http://prototype.wikimedia.org/mwe-gadget-testing';

// Port used by selenium server (optional - default is 4444)
$wgSeleniumServerPort = 4444;

// Wiki login. Used by Selenium to log onto the wiki
$wgSeleniumTestsWikiUser      = 'Wikisysop';
$wgSeleniumTestsWikiPassword  = 'password';

// Common browsers on Windows platform. Modify for other platforms or
// other Windows browsers
// Use the *chrome handler in order to be able to test file uploads
// further solution suggestions: http://www.brokenbuild.com/blog/2007/06/07/testing-file-uploads-with-selenium-rc-and-firefoxor-reducing-javascript-security-in-firefox-for-fun-and-profit/
// $wgSeleniumTestsBrowsers['firefox']   = '*firefox c:\\Program Files (x86)\\Mozilla Firefox\\firefox.exe';
$wgSeleniumTestsBrowsers['osx-firefox']   = 'Firefox on OS X Snow Leopard';
$wgSeleniumTestsBrowsers['win-opera']   = 'Opera on Windows';
$wgSeleniumTestsBrowsers['win-chrome']   = 'Google Chrome on Windows';
$wgSeleniumTestsBrowsers['osx-safari']   = 'Safari on OS X Snow Leopard';
$wgSeleniumTestsBrowsers['win-ff35']   = 'Firefox 3.5 on Windows';
$wgSeleniumTestsBrowsers['osx-opera']   = 'Opera on OS X Snow Leopard';
$wgSeleniumTestsBrowsers['osx-chrome']   = 'Google Chrome on OS X Snow Leopard';
$wgSeleniumTestsBrowsers['lin-ff35']   = 'Firefox 3.5 on Linux';
$wgSeleniumTestsBrowsers['lin-ff36']   = 'Firefox 3.6 on Linux';
$wgSeleniumTestsBrowsers['win-safari']   = 'Safari on Windows';
$wgSeleniumTestsBrowsers['lin-ff3']   = 'Firefox 3 on Linux';
$wgSeleniumTestsBrowsers['win-ie8']   = 'IE 8 on Windows';
$wgSeleniumTestsBrowsers['win-ie']   = 'IE on Windows';

// Actually, use this browser
$wgSeleniumTestsUseBrowser = 'osx-firefox';

// Set command line mode
$wgSeleniumTestsRunMode = 'cli';

// List of tests to be included by default
$wgSeleniumTestIncludes = array(
	'selenium_tests/EmbedPlayerLoadsTest.php'
);
?>
