<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<FileName>
			RealTest1.Data
		</FileName>
		<Description>
			a test data file for the decision layer first unit test (testKDLWrapCDLGenerateTargetFlavors)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1 - convert MBR
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '5'/>
					<Input type = "mediaInfo" key = '32653152'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "17467722"/>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 2 - MBR
				</Description>
				<Inputs>
					<Input type = "flavorParams" key = '4'/>
					<Input type = "mediaInfo" key = '32653152'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "17467742"/>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
	<TestDataFile>
		<FileName>
			RealTest2.Data
		</FileName>
		<Description>
			a test data file for the decision layer second unit test (testKDLWrapCDLValidate)
		</Description>
		<UnitTestsData>
			<UnitTestData>
				<Description>
					test data 1 - MBR
				</Description>
				<Inputs>
					<Input type = "mediaInfo" key = '32653152'/>
					<Input type = "flavorParamsOutput" key = "17467722"/>
					<Input type = "mediaInfo" key = '32653402'/>				
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
			<UnitTestData>
				<Description>
					test data 2 - MBR
				</Description>
				<Inputs>
					<Input type = "mediaInfo" key = '32653152'/>
					<Input type = "flavorParamsOutput" key = "17467742"/>
					<Input type = "mediaInfo" key = '32653392'/>				
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>

