<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<fileName>
			C:/Users/Roni/Test1.Data
		</fileName>
		<UnitTestsData>
			<UnitTestData>
				<Inputs>
					<Input type = "flavorParams" key = '41'/>
					<Input type = "mediaInfo" key = '49111'/>
				</Inputs>
				<OutputReferences>
					<OutputReference type = "flavorParamsOutput" key = "59471"/>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>

