<?xml version="1.0"?>
<Tests>
	<TestDataFile>
		<fileName>
			C:/Users/Roni/Test2.Data
		</fileName>
		<UnitTestsData>
			<UnitTestData>
				<Inputs>
					<Input type = "mediaInfo" key = '49111'/>
					<Input type = "flavorParamsOutput" key = "59471"/>
					<Input type = "mediaInfo" key = '49131'/>				
				</Inputs>
				<OutputReferences>
				</OutputReferences>
			</UnitTestData>
		</UnitTestsData>
	</TestDataFile>
</Tests>